openapi: 3.0.1
info:
  description: "The DNS application is a BloxOne DDI service that provides cloud-based\
    \ DNS configuration with on-prem host serving DNS protocol. It is part of the\
    \ full-featured BloxOne DDI solution that enables customers the ability to deploy\
    \ large numbers of protocol servers in the delivery of DNS and DHCP throughout\
    \ their enterprise network. \n\n"
  title: DNS Configuration API
  version: v1
servers:
- url: http://csp.infoblox.com/api/ddi/v1/
- url: https://csp.infoblox.com/api/ddi/v1/
security:
- ApiKeyAuth: []
paths:
  /dns/acl:
    get:
      description: |-
        Use this method to list ACL objects.
        ACL object (_dns/acl_) represents a named Access Control List.
      operationId: aclList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListACLResponse'
          description: GET operation response
      summary: List ACL objects.
      tags:
      - acl
    post:
      description: |-
        Use this method to create an ACL object.
        ACL object (_dns/acl_) represents a named Access Control List.
      operationId: aclCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configACL'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateACLResponse'
          description: POST operation response
      summary: Create the ACL object.
      tags:
      - acl
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/acl/{id}:
    delete:
      description: |-
        Use this method to move an ACL object to Recyclebin.
        ACL object (_dns/acl_) represents a named Access Control List.
      operationId: aclDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Move the ACL object to Recyclebin.
      tags:
      - acl
    get:
      description: |-
        Use this method to read an ACL object.
        ACL object (_dns/acl_) represents a named Access Control List.
      operationId: aclRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadACLResponse'
          description: GET operation response
      summary: Read the ACL object.
      tags:
      - acl
    patch:
      description: |-
        Use this method to update an ACL object.
        ACL object (_dns/acl_) represents a named Access Control List.
      operationId: aclUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configACL'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateACLResponse'
          description: PATCH operation response
      summary: Update the ACL object.
      tags:
      - acl
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/auth_nsg:
    get:
      description: |-
        Use this method to list AuthNSG objects.
        The _dns/auth_nsg_ object represents an Authoritative DNS Server Group for authoritative zones.
      operationId: auth_nsgList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListAuthNSGResponse'
          description: GET operation response
      summary: List AuthNSG objects.
      tags:
      - auth_nsg
    post:
      description: |-
        Use this method to create an AuthNSG object.
        The _dns/auth_nsg_ object represents an Authoritative DNS Server Group for authoritative zones.
      operationId: auth_nsgCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configAuthNSG'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateAuthNSGResponse'
          description: POST operation response
      summary: Create the AuthNSG object.
      tags:
      - auth_nsg
      x-tf-resource: dns_auth_nsg
      x-tf-datasource: dns_auth_nsgs
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/auth_nsg/{id}:
    delete:
      description: |-
        Use this method to move an AuthNSG object to Recyclebin.
        The _dns/auth_nsg_ object represents an Authoritative DNS Server Group for authoritative zones.
      operationId: auth_nsgDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Move the AuthNSG object to Recyclebin.
      tags:
      - auth_nsg
    get:
      description: |-
        Use this method to read an AuthNSG object.
        The _dns/auth_nsg_ object represents an Authoritative DNS Server Group for authoritative zones.
      operationId: auth_nsgRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadAuthNSGResponse'
          description: GET operation response
      summary: Read the AuthNSG object.
      tags:
      - auth_nsg
    patch:
      description: |-
        Use this method to update an AuthNSG object.
        The _dns/auth_nsg_ object represents an Authoritative DNS Server Group for authoritative zones.
      operationId: auth_nsgUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configAuthNSG'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateAuthNSGResponse'
          description: PATCH operation response
      summary: Update the AuthNSG object.
      tags:
      - auth_nsg
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/auth_zone:
    get:
      description: |-
        Use this method to list AuthZone objects.
        This object (_dns/auth_zone_) represents an authoritative zone.
      operationId: auth_zoneList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListAuthZoneResponse'
          description: GET operation response
      summary: List AuthZone objects.
      tags:
      - auth_zone
    post:
      description: |-
        Use this method to create an AuthZone object.
        This object (_dns/auth_zone_) represents an authoritative zone.
      operationId: auth_zoneCreate
      parameters:
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configAuthZone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateAuthZoneResponse'
          description: POST operation response
      summary: Create the AuthZone object.
      tags:
      - auth_zone
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/auth_zone/copy:
    post:
      description: |-
        Use this method to copy an __AuthZone__ object to a different __View__.
        This object (_dns/auth_zone_) represents an authoritative zone.
      operationId: auth_zoneCopy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configCopyAuthZone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCopyAuthZoneResponse'
          description: POST operation response
      summary: Copies the __AuthZone__ object.
      tags:
      - auth_zone
      x-codegen-request-body-name: body
  /dns/auth_zone/{id}:
    delete:
      description: |-
        Use this method to move an AuthZone object to Recyclebin.
        This object (_dns/auth_zone_) represents an authoritative zone.
      operationId: auth_zoneDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Moves the AuthZone object to Recyclebin.
      tags:
      - auth_zone
    get:
      description: |-
        Use this method to read an AuthZone object.
        This object (_dns/auth_zone_) represents an authoritative zone.
      operationId: auth_zoneRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadAuthZoneResponse'
          description: GET operation response
      summary: Read the AuthZone object.
      tags:
      - auth_zone
    patch:
      description: |-
        Use this method to update an AuthZone object.
        This object (_dns/auth_zone_) represents an authoritative zone.
      operationId: auth_zoneUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configAuthZone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateAuthZoneResponse'
          description: PATCH operation response
      summary: Update the AuthZone object.
      tags:
      - auth_zone
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/cache_flush:
    post:
      description: |-
        Use this method to create a Cache Flush object.
        The Cache Flush object is for removing entries from the DNS cache on a host. The host must be available and running DNS for this to succeed.
      operationId: cache_flushCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configCacheFlush'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protobufEmpty'
          description: POST operation response
      summary: Create the Cache Flush object.
      tags:
      - cache_flush
      x-codegen-request-body-name: body
  /dns/convert_domain_name/{domain_name}:
    get:
      description: Use this method to convert between Internationalized Domain Name
        (IDN) and ASCII domain name (Punycode).
      operationId: convert_domain_nameConvert
      parameters:
      - description: Input domain name in either of IDN or punycode representations.
        in: path
        name: domain_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configConvertDomainNameResponse'
          description: GET operation response
      summary: Convert the object.
      tags:
      - convert_domain_name
  /dns/convert_rname/{email_address}:
    get:
      description: Use this method to convert email address to the master file RNAME
        format.
      operationId: convert_rnameConvertRName
      parameters:
      - description: Input email address.
        in: path
        name: email_address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configConvertRNameResponse'
          description: GET operation response
      summary: Convert the object.
      tags:
      - convert_rname
  /dns/delegation:
    get:
      description: |-
        Use this method to list Delegation objects.
        This object (_dns/delegation_) represents a zone delegation.
      operationId: delegationList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListDelegationResponse'
          description: GET operation response
      summary: List Delegation objects.
      tags:
      - delegation
    post:
      description: |-
        Use this method to create a Delegation object.
        This object (_dns/delegation_) represents a zone delegation.
      operationId: delegationCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configDelegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateDelegationResponse'
          description: POST operation response
      summary: Create the Delegation object.
      tags:
      - delegation
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/delegation/{id}:
    delete:
      description: |-
        Use this method to move a Delegation object to Recyclebin.
        This object (_dns/delegation_) represents a zone delegation.
      operationId: delegationDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Moves the Delegation object to Recyclebin.
      tags:
      - delegation
    get:
      description: |-
        Use this method to read a Delegation object.
        This object (_dns/delegation)_ represents a zone delegation.
      operationId: delegationRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadDelegationResponse'
          description: GET operation response
      summary: Read the Delegation object.
      tags:
      - delegation
    patch:
      description: |-
        Use this method to update a Delegation object.
        This object (_dns/delegation_) represents a zone delegation.
      operationId: delegationUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configDelegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateDelegationResponse'
          description: PATCH operation response
      summary: Update the Delegation object.
      tags:
      - delegation
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/forward_nsg:
    get:
      description: |-
        Use this method to list ForwardNSG objects.
        The _dns/forward_nsg_ object represents a Forward DNS Server Group for forward zones.
      operationId: forward_nsgList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListForwardNSGResponse'
          description: GET operation response
      summary: List ForwardNSG objects.
      tags:
      - forward_nsg
    post:
      description: |-
        Use this method to create a ForwardNSG object.
        The _dns/forward_nsg_ object represents a Forward DNS Server Group for forward zones.
      operationId: forward_nsgCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configForwardNSG'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateForwardNSGResponse'
          description: POST operation response
      summary: Create the ForwardNSG object.
      tags:
      - forward_nsg
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/forward_nsg/{id}:
    delete:
      description: |-
        Use this method to move a ForwardNSG object to Recyclebin.
        The _dns/forward_nsg_ object represents a Forward DNS Server Group for forward zones.
      operationId: forward_nsgDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Move the ForwardNSG object to Recyclebin.
      tags:
      - forward_nsg
    get:
      description: |-
        Use this method to read a ForwardNSG object.
        The _dns/forward_nsg_ object represents a Forward DNS Server Group for forward zones.
      operationId: forward_nsgRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadForwardNSGResponse'
          description: GET operation response
      summary: Read the ForwardNSG object.
      tags:
      - forward_nsg
    patch:
      description: |-
        Use this method to update a ForwardNSG object.
        The _dns/forward_nsg_ object represents a Forward DNS Server Group for forward zones.
      operationId: forward_nsgUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configForwardNSG'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateForwardNSGResponse'
          description: PATCH operation response
      summary: Update the ForwardNSG object.
      tags:
      - forward_nsg
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/forward_zone:
    get:
      description: |-
        Use this method to list Forward Zone objects.
        This object (_dns/forward_zone_) represents a forwarding zone.
      operationId: forward_zoneList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListForwardZoneResponse'
          description: GET operation response
      summary: List Forward Zone objects.
      tags:
      - forward_zone
    post:
      description: |-
        Use this method to create a ForwardZone object.
        This object (_dns/forward_zone_) represents a forwarding zone.
      operationId: forward_zoneCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configForwardZone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateForwardZoneResponse'
          description: POST operation response
      summary: Create the ForwardZone object.
      tags:
      - forward_zone
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/forward_zone/copy:
    post:
      description: |-
        Use this method to copy an __ForwardZone__ object to a different __View__.
        This object (_dns/forward_zone_) represents a forwarding zone.
      operationId: forward_zoneCopy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configCopyForwardZone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCopyForwardZoneResponse'
          description: POST operation response
      summary: Copies the __ForwardZone__ object.
      tags:
      - forward_zone
      x-codegen-request-body-name: body
  /dns/forward_zone/{id}:
    delete:
      description: |-
        Use this method to move a Forward Zone object to Recyclebin.
        This object (_dns/forward_zone_) represents a forwarding zone.
      operationId: forward_zoneDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Move the Forward Zone object to Recyclebin.
      tags:
      - forward_zone
    get:
      description: |-
        Use this method to read a Forward Zone object.
        This object (_dns/forward_zone_) represents a forwarding zone.
      operationId: forward_zoneRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadForwardZoneResponse'
          description: GET operation response
      summary: Read the Forward Zone object.
      tags:
      - forward_zone
    patch:
      description: |-
        Use this method to update a Forward Zone object.
        This object (_dns/forward_zone_) represents a forwarding zone.
      operationId: forward_zoneUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configForwardZone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateForwardZoneResponse'
          description: PATCH operation response
      summary: Update the Forward Zone object.
      tags:
      - forward_zone
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/global:
    get:
      description: |-
        Use this method to read the Global configuration object.
        Service operates on Global singleton object that represents parent configuration settings for inheritance.
      operationId: globalRead
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadGlobalResponse'
          description: GET operation response
      summary: Read the Global configuration object.
      tags:
      - global
    patch:
      description: |-
        Use this method to update the Global configuration object.
        Service operates on Global singleton object that represents parent configuration settings for inheritance.
      operationId: globalUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configGlobal'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateGlobalResponse'
          description: PATCH operation response
      summary: Update the Global configuration object.
      tags:
      - global
      x-codegen-request-body-name: body
  /dns/global/{id}:
    get:
      description: |-
        Use this method to read the Global configuration object.
        Service operates on Global singleton object that represents parent configuration settings for inheritance.
      operationId: globalRead2
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadGlobalResponse'
          description: GET operation response
      summary: Read the Global configuration object.
      tags:
      - global
    patch:
      description: |-
        Use this method to update the Global configuration object.
        Service operates on Global singleton object that represents parent configuration settings for inheritance.
      operationId: globalUpdate2
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configGlobal'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateGlobalResponse'
          description: PATCH operation response
      summary: Update the Global configuration object.
      tags:
      - global
      x-codegen-request-body-name: body
  /dns/host:
    get:
      description: |-
        Use this method to list DNS Host objects.
        A DNS Host object associates DNS configuration with hosts.
      operationId: hostList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListHostResponse'
          description: GET operation response
      summary: List DNS Host objects.
      tags:
      - host
  /dns/host/{id}:
    get:
      description: |-
        Use this method to read a DNS Host object.
        A DNS Host object associates DNS configuration with hosts.
      operationId: hostRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadHostResponse'
          description: GET operation response
      summary: Read the DNS Host object.
      tags:
      - host
    patch:
      description: |-
        Use this method to update a DNS Host object.
        A DNS Host object associates DNS configuration with hosts.
      operationId: hostUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configHost'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateHostResponse'
          description: PATCH operation response
      summary: Update the DNS Host object.
      tags:
      - host
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/server:
    get:
      description: |-
        Use this method to list Server objects.
        A DNS Config Profile is a named configuration profile that can be shared for specified list of hosts.
      operationId: serverList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListServerResponse'
          description: GET operation response
      summary: List Server objects.
      tags:
      - server
    post:
      description: |-
        Use this method to create a Server object.
        A DNS Config Profile is a named configuration profile that can be shared for specified list of hosts.
      operationId: serverCreate
      parameters:
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configServer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateServerResponse'
          description: POST operation response
      summary: Create the Server object.
      tags:
      - server
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/server/{id}:
    delete:
      description: |-
        Use this method to move a Server object to Recyclebin.
        A DNS Config Profile is a named configuration profile that can be shared for specified list of hosts.
      operationId: serverDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Move the Server object to Recyclebin.
      tags:
      - server
    get:
      description: |-
        Use this method to read a Server object.
        A DNS Config Profile is a named configuration profile that can be shared for specified list of hosts.
      operationId: serverRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadServerResponse'
          description: GET operation response
      summary: Read the Server object.
      tags:
      - server
    patch:
      description: |-
        Use this method to update a Server object.
        A DNS Config Profile is a named configuration profile that can be shared for specified list of hosts.
      operationId: serverUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configServer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateServerResponse'
          description: PATCH operation response
      summary: Update the Server object.
      tags:
      - server
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/view:
    get:
      description: |-
        Use this method to list View objects.
        Named collection of DNS View settings.
      operationId: viewList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListViewResponse'
          description: GET operation response
      summary: List View objects.
      tags:
      - view
    post:
      description: |-
        Use this method to create a View object.
        Named collection of DNS View settings.
      operationId: viewCreate
      parameters:
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateViewResponse'
          description: POST operation response
      summary: Create the View object.
      tags:
      - view
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dns/view/bulk_copy:
    post:
      description: |-
        Use this method to bulk copy __AuthZone__ and __ForwardZone__ objects from one __View__ object to another __View__ object.
        The __AuthZone__ object represents an authoritative zone.
        The __ForwardZone__ object represents a forwarding zone.
      operationId: viewBulkCopy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configBulkCopyView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configBulkCopyResponse'
          description: POST operation response
      summary: Copies the specified __AuthZone__ and __ForwardZone__ objects in the
        __View__.
      tags:
      - view
      x-codegen-request-body-name: body
  /dns/view/{id}:
    delete:
      description: |-
        Use this method to move a View object to Recyclebin.
        Named collection of DNS View settings.
      operationId: viewDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Move the View object to Recyclebin.
      tags:
      - view
    get:
      description: |-
        Use this method to read a View object.
        Named collection of DNS View settings.
      operationId: viewRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadViewResponse'
          description: GET operation response
      summary: Read the View object.
      tags:
      - view
    patch:
      description: |-
        Use this method to update a View object.
        Named collection of DNS View settings.
      operationId: viewUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: |-
          This parameter is used for getting inheritance_sources.

          Allowed values:
          * _none_,
          * _partial_,
          * _full_.

          Defaults to _none
        in: query
        name: _inherit
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateViewResponse'
          description: PATCH operation response
      summary: Update the View object.
      tags:
      - view
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dtc/lbdn:
    get:
      description: Use this method to list __LBDN__ objects.
      operationId: lbdnList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configListLBDNResponse'
          description: GET operation response
      summary: List __LBDN__ objects.
      tags:
      - lbdn
    post:
      description: Use this method to create a __LBDN__ object.
      operationId: lbdnCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configLBDN'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configCreateLBDNResponse'
          description: POST operation response
      summary: Create the __LBDN__ object.
      tags:
      - lbdn
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /dtc/lbdn/{id}:
    delete:
      description: Use this method to delete a __LBDN__ object.
      operationId: lbdnDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the __LBDN__ object.
      tags:
      - lbdn
    get:
      description: Use this method to read a __LBDN__ object.
      operationId: lbdnRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configReadLBDNResponse'
          description: GET operation response
      summary: Read the __LBDN__ object.
      tags:
      - lbdn
    patch:
      description: Use this method to update a __LBDN__ object.
      operationId: lbdnUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configLBDN'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configUpdateLBDNResponse'
          description: PATCH operation response
      summary: Update the __LBDN__ object.
      tags:
      - lbdn
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
components:
  schemas:
    AuthZoneExternalProvider:
      description: The external provider object.
      example:
        name: name
        id: id
        type: type
      properties:
        id:
          description: The identifier of the external provider.
          readOnly: true
          type: string
        name:
          description: The name of the external provider.
          type: string
        type:
          description: |-
            Defines the type of external provider.
            Allowed values:
             * _bloxone_ddi_: host type is BloxOne DDI,
             * _microsoft_azure_: host type is Microsoft Azure,
             * _amazon_web_service_: host type is Amazon Web Services,
             * _microsoft_active_directory_: host type is Microsoft Active Directory,
             * _google_cloud_platform_: host type is Google Cloud Platform.
          type: string
      title: ExternalProvider
      type: object
    configACL:
      description: Named ACL (Access Control List).
      example:
        name: name
        comment: comment
        id: id
        list:
        - access: access
          address: address
          tsig_key:
            name: name
            comment: comment
            secret: secret
            key: key
            algorithm: algorithm
            protocol_name: protocol_name
          acl: acl
          element: element
        - access: access
          address: address
          tsig_key:
            name: name
            comment: comment
            secret: secret
            key: key
            algorithm: algorithm
            protocol_name: protocol_name
          acl: acl
          element: element
        tags: "{}"
      properties:
        comment:
          description: Optional. Comment for ACL.
          type: string
        id:
          description: The resource identifier.
          readOnly: true
          type: string
        list:
          description: |-
            Optional. Ordered list of access control elements.

            Elements are evaluated in order to determine access. If evaluation reaches the end of the list then access is denied.
          items:
            $ref: '#/components/schemas/configACLItem'
          type: array
        name:
          description: ACL object name.
          type: string
        tags:
          additionalProperties: false
          description: Tagging specifics.
          type: object
      required:
      - name
      title: ACL
      type: object
    configACLItem:
      description: "Element in an ACL. \n\nError if both _acl_ and _address_ are given."
      example:
        access: access
        address: address
        tsig_key:
          name: name
          comment: comment
          secret: secret
          key: key
          algorithm: algorithm
          protocol_name: protocol_name
        acl: acl
        element: element
      properties:
        access:
          description: |-
            Access permission for _element_.

            Allowed values:
             * _allow_,
             * _deny_.
          type: string
        acl:
          description: The resource identifier.
          type: string
        address:
          description: |-
            Optional. Data for _ip_ _element_.

            Must be empty if _element_ is not _ip_.
          type: string
        element:
          description: |-
            Type of element.

            Allowed values:
             * _any_,
             * _ip_,
             * _acl_,
             * _tsig_key_.
          type: string
        tsig_key:
          $ref: '#/components/schemas/configTSIGKey'
      required:
      - access
      - element
      title: ACLItem
      type: object
    configAuthNSG:
      description: Authoritative DNS Server Group for authoritative zones.
      example:
        nsgs:
        - nsgs
        - nsgs
        external_secondaries:
        - address: address
          fqdn: fqdn
          protocol_fqdn: protocol_fqdn
          tsig_key:
            name: name
            comment: comment
            secret: secret
            key: key
            algorithm: algorithm
            protocol_name: protocol_name
          stealth: true
          tsig_enabled: true
        - address: address
          fqdn: fqdn
          protocol_fqdn: protocol_fqdn
          tsig_key:
            name: name
            comment: comment
            secret: secret
            key: key
            algorithm: algorithm
            protocol_name: protocol_name
          stealth: true
          tsig_enabled: true
        name: name
        external_primaries:
        - address: address
          nsg: nsg
          fqdn: fqdn
          protocol_fqdn: protocol_fqdn
[...]
