openapi: 3.0.1
info:
  description: |
    BloxOne Threat Defense Cloud is an extension of the BloxOne Suite that provides visibility into infected and compromised off-premises devices, roaming users, remote sites, and branch offices. You can subscribe to BloxOne Cloud and use its functionality to mitigate and control malware as well as provide unprecedented insight into your network security posture and enable timely action. BloxOne Cloud also offers unified policy management, reporting, and threat analytics across the entire spectrum. Using automated and high-quality threat intelligence feeds and unique behavioral analytics, it automatically stops device communications with C&Cs/botnets and prevents DNS based data exfiltration.

    The mission-critical DNS infrastructure can become a vulnerable component in your network when it is inadequately protected by traditional security solutions and consequently used as an attack surface. Compromised DNS services can result in catastrophic network and system failures. To fully protect your network in today’s cyber security threat environment, Infoblox sets a new DNS security standard by offering scalable, enterprise-grade, and integrated protection for your DNS infrastructure.

    Through the Infoblox Cloud Services Portal, you can view the status of your subscription and threat intelligence feeds, manage your network scope and roaming end users, and learn more about threats on your networks through the Infoblox Threat Lookup tool and predefined reports.
  title: BloxOne FW API
  version: v1
servers:
- url: https://csp.infoblox.com/api/atcfw/v1/
paths:
  /access_codes:
    delete:
      description: |+
        Use this method to delete Bypass Code objects. Deletion of
        multiple bypass codes is an all-or-nothing operation (if any of
        the specified bypass codes cannot be deleted then none of the
        specified bypass codes will be deleted).

        Required:
        - ids

      operationId: access_codesDeleteAccessCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwAccessCodeDeleteRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesDeleteAccessCodes_400_response'
          description: |2-

            - 'ids' value must contain unique elements
            - 'ids' value must contain existing bypass code key
            - Cannot delete bypass code assigned to policy
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Access Codes
      tags:
      - access_codes
      x-codegen-request-body-name: body
    get:
      description: |+
        Use this method to retrieve a collection of Bypass Code objects.

      operationId: access_codesListAccessCodes
      parameters:
      - description: |
          A collection of response resources can be filtered by a logical expression string that includes JSON tag references to values in each resource, literal values, and logical operators. If a resource does not have the specified tag, its value is assumed to be null.

          Literal values include numbers (integer and floating-point), and quoted (both single- or double-quoted) literal strings, and 'null'.

          You can filter by following fields:

          | Name               | type   | Supported Op                |
          | ------------------ | ------ | --------------------------- |
          | access_key         | string | !=, ==, ~, !~, >, <, <=, >= |
          | name               | string | !=, ==, ~, !~, >, <, <=, >= |
          | description        | string | !=, ==, ~, !~, >, <, <=, >= |
          | security_policy_id | int32  | !=, ==, >, <, <=, >=        |

          In addition, grouping operators are supported:

          | Op  | Description          |
          | --- | -------------------- |
          | and | Logical AND          |
          | or  | Logical OR           |
          | not | Logical NOT          |
          | ()  | Groupping Operators  |

          Example:
          ```
          ?_filter="((name=='acc_code')or(name~'key'))and(security_policy_id!=32)"
          ```
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAccessCodeMultiResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: List Access Codes
      tags:
      - access_codes
    post:
      description: |+
        Use this method to create the Bypass Code corresponding to the
        security rules passed.
        It's an atomic operation. It should create all the security rules
        and create the policy and bypass codes, or do nothing if any of them fails.

        Required:
        - name
        - rules
        - activation
        - expiration



      operationId: access_codesCreateAccessCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwAccessCode'
        description: The Bypass Code object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAccessCodeCreateResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesCreateAccessCode_400_response'
          description: |2-

            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - Expiration date must be after activation date
            - Cannot enter expired Bypass Code
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesCreateAccessCode_404_response'
          description: |2-

            - Threat Feed and TI rules must contain existing threat feeds and TI lists
            - Custom Redirect rules must contain existing Custom Redirect
            - Custom List rules must contain existing Custom List
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesCreateAccessCode_409_response'
          description: |2-

            - 'name' value must be unique among bypass codes belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Create Access Codes
      tags:
      - access_codes
      x-codegen-request-body-name: body
  /access_codes/{access_key}:
    delete:
      description: |+
        Use this method to delete Bypass Code object.

      operationId: access_codesDeleteSingleAccessCodes
      parameters:
      - description: The Bypass Code identifier.
        in: path
        name: access_key
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesDeleteSingleAccessCodes_400_response'
          description: |2-

            - 'id' value must contain existing bypass code key
            - Cannot delete bypass code assigned to policy
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Access Code By ID
      tags:
      - access_codes
    get:
      description: |+
        Use this method to retrieve the Bypass Code by key.

      operationId: access_codesReadAccessCode
      parameters:
      - description: The Bypass Code identifier.
        in: path
        name: access_key
        required: true
        schema:
          type: string
      - description: The Bypass Code name.
        in: query
        name: name
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAccessCodeReadResponse'
          description: GET operation response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesReadAccessCode_404_response'
          description: |2-

            - 'access_codes' value must contain existing bypass code key
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Read Access Codes
      tags:
      - access_codes
  /access_codes/{payload.access_key}:
    put:
      description: |+
        Use this method to update the Bypass Code corresponding to the security rules passed.
        It's an atomic operation. It should delete existing security rules and
        create all the new security rules for the bypass code,
        or do nothing if any of them fails.

        Required:
        - name
        - rules
        - dfps
        - network_lists
        - roaming_device_groups



      operationId: access_codesUpdateAccessCode
      parameters:
      - description: Auto generated unique Bypass Code value
        in: path
        name: payload.access_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwAccessCode'
        description: The Bypass Code object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAccessCodeUpdateResponse'
          description: PUT operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesCreateAccessCode_400_response'
          description: |2-

            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - Expiration date must be after activation date
            - Cannot enter expired Bypass Code
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesCreateAccessCode_404_response'
          description: |2-

            - Threat Feed and TI rules must contain existing threat feeds and TI lists
            - Custom Redirect rules must contain existing Custom Redirect
            - Custom List rules must contain existing Custom List
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesCreateAccessCode_409_response'
          description: |2-

            - 'name' value must be unique among bypass codes belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Update Access Codes
      tags:
      - access_codes
      x-codegen-request-body-name: body
  /app_approvals:
    get:
      operationId: app_approvalsListAppApprovals
      parameters:
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Groupping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAppApprovalMultiResponse'
          description: GET operation response
      tags:
      - app_approvals
    patch:
      operationId: app_approvalsUpdateAppApprovals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwAppApprovalsUpdateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAppApprovalMultiResponse'
          description: PATCH operation response
      tags:
      - app_approvals
      x-codegen-request-body-name: body
    put:
      description: |+
        Use this method to update the specified Application Approved object.

        Required: an array of approvals
        - status
        - app_name

      operationId: app_approvalsReplaceAppApprovals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwAppApprovalsReplaceRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwAppApprovalMultiResponse'
          description: PUT operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Update Application Approval.
      tags:
      - app_approvals
      x-codegen-request-body-name: body
  /application_filters:
    delete:
      description: |+
        Use this method to delete Application Filter objects. Deletion of multiple lists is an all-or-nothing operation (if any of the specified lists can not be deleted then none of the specified lists will be deleted).

        Required:
        - ids

      operationId: application_filtersDeleteApplicationFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwApplicationFiltersDeleteRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_filtersDeleteApplicationFilters_400_response'
          description: |2-

            - 'ids' value must contain existing application filter identifiers
            - application filters assigned to a security policy cannot be deleted
            - application filters assigned to a bypass code cannot be deleted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Application Filters.
      tags:
      - application_filters
      x-codegen-request-body-name: body
    get:
      description: |+
        Use this method to retrieve information on all Application Filter objects for the account.

      operationId: application_filtersListApplicationFilters
      parameters:
      - description: |
          A collection of response resources can be filtered by a logical expression string that includes JSON tag references to values in each resource, literal values, and logical operators. If a resource does not have the specified tag, its value is assumed to be null.

          Literal values include numbers (integer and floating-point), and quoted (both single- or double-quoted) literal strings, and 'null'.

          You can filter by following fields:

          | Name                    | type   | Supported Op                |
          | ----------------------- | ------ | --------------------------- |
          | name                    | string | !=, ==, ~, !~, >, <, <=, >= |

          In addition grouping operators are supported:

          | Op  | Description          |
          | --- | -------------------- |
          | and | Logical AND          |
          | or  | Logical OR           |
          | not | Logical NOT          |
          | ()  | Groupping Operators  |

          Allowed sets of parameters that can be groupped in one query:

          - name

          Example:
          ```
          ?_filter="((name=='app_list1')or(name~'app_list2'))"
          ```
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: Filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: Sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwApplicationFilterMultiResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: List Application Filters.
      tags:
      - application_filters
    post:
      description: |
        Use this method to create a Application Filter object.

        Required:
        - name
        - criteria
      operationId: application_filtersCreateApplicationFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwApplicationFilter'
        description: The Application Filter object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwApplicationFilterCreateResponse'
          description: POST operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Create Application Filter.
      tags:
      - application_filters
      x-codegen-request-body-name: body
  /application_filters/{id}:
    delete:
      description: |
        Use this method to delete single Application filter object by id.
      operationId: application_filtersDeleteSingleApplicationFilters
      parameters:
      - description: The Application Filter object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_filtersDeleteSingleApplicationFilters_400_response'
          description: |2-

            - 'id' value must contain values that are greater than or equal to zero
            - application filter assigned to a security policy cannot be deleted
            - application filter assigned to a bypass code cannot be deleted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Application Filter Object by ID.
      tags:
      - application_filters
    get:
      description: |
        Use this method to retrieve information on the specified Application Filter object.

        Required:
        - id
      operationId: application_filtersReadApplicationFilter
      parameters:
      - description: The Application Filter object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: The name of the application filter.
        in: query
        name: name
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwApplicationFilterReadResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Read Application Filter.
      tags:
      - application_filters
    put:
      description: |
        Use this method to update the specified Application Filter object.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.

        Required:
        - id
        - name
        - criteria
      operationId: application_filtersUpdateApplicationFilter
      parameters:
      - description: The Application Filter object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwApplicationFilter'
        description: The Application Filter object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwApplicationFilterUpdateResponse'
          description: PUT operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Update Application Filter.
      tags:
      - application_filters
      x-codegen-request-body-name: body
  /category_filters:
    delete:
      description: |+
        Use this method to delete Category Filter object.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.

        Required:
        - ids

      operationId: category_filtersDeleteCategoryFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwCategoryFiltersDeleteRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersDeleteCategoryFilters_400_response'
          description: |2-

            - 'ids' value must be non-empty
            - 'ids' value must contain unique elements
            - 'ids' value must contain values that are greater than or equal to zero
            - category filters assigned to a security policy cannot be deleted
            - category filters assigned to a bypass code cannot be deleted
            - 'ids' value must contain existing category filter identifiers
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Category Filters By ID.
      tags:
      - category_filters
      x-codegen-request-body-name: body
    get:
      description: |+
        Use this method to retrieve information on all Category Filter objects for the account.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.

      operationId: category_filtersListCategoryFilters
      parameters:
      - description: |
          A collection of response resources can be filtered by a logical expression string that includes JSON tag references to values in each resource, literal values, and logical operators. If a resource does not have the specified tag, its value is assumed to be null.

          Literal values include numbers (integer and floating-point), and quoted (both single- or double-quoted) literal strings, and 'null'.

          You can filter by following fields:

          | Name               | type   | Supported Op                |
          | ------------------ | ------ | --------------------------- |
          | name               | string | !=, ==, ~, !~, >, <, <=, >= |

          In addition, grouping operators are supported:

          | Op  | Description          |
          | --- | -------------------- |
          | and | Logical AND          |
          | or  | Logical OR           |
          | not | Logical NOT          |
          | ()  | Groupping Operators  |

          Example:
          ```
          ?_filter="((name=='cat-filter')or(name~'key'))and(name!='something')"
          ```
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: Filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: Sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwCategoryFilterMultiResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: List Category Filters.
      tags:
      - category_filters
    post:
      description: |
        Use this method to create a Category Filter object.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.

        Required:
        - name
        - categories
      operationId: category_filtersCreateCategoryFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwCategoryFilter'
        description: The Category Filter object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwCategoryFilterCreateResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersCreateCategoryFilter_400_response'
          description: |2-

            - 'name' value must not be empty
            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - 'categories' value must not be empty
            - 'categories' value must contain existing content categories
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersCreateCategoryFilter_409_response'
          description: |2-

            - 'name' value must be unique among category filters belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Create Category Filter.
      tags:
      - category_filters
      x-codegen-request-body-name: body
  /category_filters/{id}:
    delete:
      description: |
        Use this method to delete Category Filter objects.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.
      operationId: category_filtersDeleteSingleCategoryFilters
      parameters:
      - description: The Category Filter object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_filtersDeleteSingleApplicationFilters_400_response'
          description: |2-

            - 'id' value must contain values that are greater than or equal to zero
            - 'ids' value must contain existing category filter identifiers
            - category filter assigned to a security policy cannot be deleted
            - category filter assigned to a bypass code cannot be deleted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Category Filters.
      tags:
      - category_filters
    get:
      description: |
        Use this method to retrieve information on the specified Category Filter object.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.
      operationId: category_filtersReadCategoryFilter
      parameters:
      - description: The Category Filter object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwCategoryFilterReadResponse'
          description: GET operation response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersReadCategoryFilter_404_response'
          description: |2-

            - 'id' value must contain existing category filter identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Read Category Filter.
      tags:
      - category_filters
    put:
      description: |
        Use this method to update the specified Category Filter object.

        Category filters are content categorization rules that BloxOne Cloud uses to detect and filter specific internet content. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content. When you configure your category filter, you can add as many sub-categories as you need. You then add the category filter to your security policy and assign the Block action for the filter.

        Required:
        - name
        - categories
      operationId: category_filtersUpdateCategoryFilter
      parameters:
      - description: The Category Filter object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwCategoryFilter'
        description: The Category Filter object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwCategoryFilterUpdateResponse'
          description: PUT operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersCreateCategoryFilter_400_response'
          description: |2-

            - 'name' value must not be empty
            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - 'categories' value must not be empty
            - 'categories' value must contain existing content categories
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersReadCategoryFilter_404_response'
          description: |2-

            - 'id' value must contain existing category filter identifier
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersCreateCategoryFilter_409_response'
          description: |2-

            - 'name' value must be unique among category filters belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Update Category Filter.
      tags:
      - category_filters
      x-codegen-request-body-name: body
  /content_categories:
    get:
      description: |
        Use this method to retrieve information on all Content Category objects for the account.

        The Content Category object represents a specific internet content and used to configure category filters. Based on your configuration, specific actions such as Allow or Block, will be taken on the detected content. BloxOne Cloud provides the following content categories from which you can build your category filters: Drugs, Risk/Fraud/Crime, Entertainment/Culture, Purchasing, Information/Communication, Business/Services, Information Technology, Lifestyle, Society/Education/Religion, Mature/Violent, Games/Gambling, Pornography/Nudity and Uncategorized. Each of these categories contains sub-categories that further define the respective content.
      operationId: content_categoriesListContentCategories
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwContentCategoryMultiResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: List Content Categories.
      tags:
      - content_categories
  /internal_domain_lists:
    delete:
      description: |
        Use this method to delete Internal Domains objects for the account by a given list of internal domain list ids.

        The internal domain list is a transport object for reporting gathering internal domains. This feature allows users to configure internal domains lists for specific DFP and ATEP groups. This lists provides the users to create ‘Internal Domains List’ objects with a name, description, and a list of domains/ip/cidr. These lists are referenced by and attached to DFP, and ATEP groups.
        Once attached to DFP, dfp configuration endpoints will return the values under all associated domain lists as domains.

        Once attached to ATEP, atep login endpoint will return the values under all associated lists as internal_domain_lists.

        Required:
        - ids
      operationId: internal_domain_listsDeleteInternalDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwInternalDomainsDeleteRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsDeleteInternalDomains_400_response'
          description: |2

            - 'ids' value must be non-empty
            - 'ids' value must contain unique elements
            - 'ids' value must contain values that are greater than or equal to zero
            - internal domain list assigned to a endpoint group cannot be deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsDeleteInternalDomains_404_response'
          description: |2-

            - 'ids' value must contain existing internal domains identifiers
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Internal Domains.
      tags:
      - internal_domain_lists
      x-codegen-request-body-name: body
    get:
      description: |+
        Use this method to retrieve information on all Internal Domains objects for the account.

        The internal domain list is a transport object for reporting gathering internal domains. This feature allows users to configure internal domains lists for specific DFP and ATEP groups. This lists provides the users to create ‘Internal Domains List’ objects with a name, description, and a list of domains/ip/cidr. These lists are referenced by and attached to DFP, and ATEP groups.
        Once attached to DFP, dfp configuration endpoints will return the values under all associated domain lists as domains.

        Once attached to ATEP, atep login endpoint will return the values under all associated lists as internal_domain_lists.

      operationId: internal_domain_listsListInternalDomains
      parameters:
      - description: |
          A collection of response resources can be filtered by a logical expression string that includes JSON tag references to values in each resource, literal values, and logical operators. If a resource does not have the specified tag, its value is assumed to be null.

          Literal values include numbers (integer and floating-point), and quoted (both single- or double-quoted) literal strings, and 'null'.

          You can filter by following fields:

          | Name               | type   | Supported Op                |
          | ------------------ | ------ | --------------------------- |
          | id                 | int32  | !=, ==, >, <, <=, >=        |
          | name               | string | !=, ==, ~, !~, >, <, <=, >= |
          | description        | string | !=, ==, ~, !~, >, <, <=, >= |
          | items              | string | ~, !~                       |
          | is_default         | bool   | !=, ==                      |

          In addition grouping operators are supported:

          | Op  | Description          |
          | --- | -------------------- |
          | and | Logical AND          |
          | or  | Logical OR           |
          | not | Logical NOT          |
          | ()  | Grouping Operators  |

          Example:
          ```
          ?_filter="((name=='internal_dom_a')or(name~'internal_dom_b'))"
          ```
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: Filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: Sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwInternalDomainsMultiResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: List Internal Domains.
      tags:
      - internal_domain_lists
      x-tf-resource: td_internal_domain_list
      x-tf-datasource: td_internal_domain_lists
    post:
      description: |+
        Use this method to create Internal Domains objects for the account.

        The internal domain list is a transport object for reporting gathering internal domains. This feature allows users to configure internal domains lists for specific DFP and ATEP groups. This lists provides the users to create ‘Internal Domains List’ objects with a name, description, and a list of domains/ip/cidr. These lists are referenced by and attached to DFP, and ATEP groups.
        Once attached to DFP, dfp configuration endpoints will return the values under all associated domain lists as domains.

        Once attached to ATEP, atep login endpoint will return the values under all associated lists as internal_domain_lists.


        Required:
        - name
        - internal_domains

      operationId: internal_domain_listsCreateInternalDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwInternalDomains'
        description: The Internal Domains object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwInternalDomainsCreateResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsCreateInternalDomains_400_response'
          description: |2-

            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - 'internal_domains' must not contain existing Internal domain Lists
            - 'Non-empty lists'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsCreateInternalDomains_409_response'
          description: |2-

            - 'name' value must be unique among internal domains lists belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Create Internal Domains.
      tags:
      - internal_domain_lists
      x-codegen-request-body-name: body
  /internal_domain_lists/{id}:
    delete:
      description: |+
        Use this method to delete Internal Domains objects for the account by a given internal domain list id.

        The internal domain list is a transport object for reporting gathering internal domains. This feature allows users to configure internal domains lists for specific DFP and ATEP groups. This lists provides the users to create ‘Internal Domains List’ objects with a name, description, and a list of domains/ip/cidr. These lists are referenced by and attached to DFP, and ATEP groups.
        Once attached to DFP, dfp configuration endpoints will return the values under all associated domain lists as domains.

        Once attached to ATEP, atep login endpoint will return the values under all associated lists as internal_domain_lists.


      operationId: internal_domain_listsDeleteSingleInternalDomains
      parameters:
      - description: The Internal Domains object identifiers.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsDeleteSingleInternalDomains_400_response'
          description: |2

            - 'id' value must contain values that are greater than or equal to zero
            - internal domain list assigned to a endpoint group cannot be deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsDeleteInternalDomains_404_response'
          description: |2-

            - 'id' value must contain existing internal domains identifiers
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Internal Domains.
      tags:
      - internal_domain_lists
    get:
      description: |
        Use this method to read Internal Domains objects for the account by a internal domain list id.

        The internal domain list is a transport object for reporting gathering internal domains. This feature allows users to configure internal domains lists for specific DFP and ATEP groups. This lists provides the users to create ‘Internal Domains List’ objects with a name, description, and a list of domains/ip/cidr. These lists are referenced by and attached to DFP, and ATEP groups.
        Once attached to DFP, dfp configuration endpoints will return the values under all associated domain lists as domains.

        Once attached to ATEP, atep login endpoint will return the values under all associated lists as internal_domain_lists.
      operationId: internal_domain_listsReadInternalDomains
      parameters:
      - description: The Internal Domains object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: |-
          The name of InternalDomains object.
          Used if id==0.
        in: query
        name: name
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwInternalDomainsReadResponse'
          description: GET operation response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsReadInternalDomains_404_response'
          description: |2-

            - 'id' value must contain existing internal domain lists identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Read Internal Domains.
      tags:
      - internal_domain_lists
    put:
      description: |
        Use this method to update Internal Domains objects for the account by a internal domain list id.

        The internal domain list is a transport object for reporting gathering internal domains. This feature allows users to configure internal domains lists for specific DFP and ATEP groups. This lists provides the users to create ‘Internal Domains List’ objects with a name, description, and a list of domains/ip/cidr. These lists are referenced by and attached to DFP, and ATEP groups.
        Once attached to DFP, dfp configuration endpoints will return the values under all associated domain lists as domains.

        Once attached to ATEP, atep login endpoint will return the values under all associated lists as internal_domain_lists.

        Required:
        - name
        - internal_domains
      operationId: internal_domain_listsUpdateInternalDomains
      parameters:
      - description: The Internal Domain object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwInternalDomains'
        description: The Internal Domains object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwInternalDomainsUpdateResponse'
          description: PUT operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsUpdateInternalDomains_400_response'
          description: |2-

            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - 'internal_domains' must contain existing internal domain Lists
            - 'internal_domains' values is not a domain, cidr, or ip
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsUpdateInternalDomains_404_response'
          description: |2

            - 'id' value must contain existing internal domains list identifier
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsCreateInternalDomains_409_response'
          description: |2-

            - 'name' value must be unique among internal domains belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Update Internal Domains.
      tags:
      - internal_domain_lists
      x-codegen-request-body-name: body
  /internal_domain_lists/{id}/items:
    patch:
      description: |
        Use this method to insert ot delete items  for a specified Named List object. Note that duplicated items are silently skipped and only new items are appended to the named list.
        Note that DNSM, TI, Fast Flux, custom lists and DGA lists cannot be updated. Only Internal Domains items can be updated.

        The Internal Domains Items represent the list of the FQDN or IPv4 addresses to define whitelists for additional protection.
      operationId: internal_domain_listsInternalDomainsItemsPartialUpdate
      parameters:
      - description: The Internal Domain List object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwInternalDomainsItems'
        description: The Internal Domains Items Patch object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwInternalDomainsItemsPartialResponse'
          description: PATCH operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsInternalDomainsItemsPartialUpdate_400_response'
          description: |2-

            - 'id' value must be greater than or equal to zero
            - Invalid domain or IP address or network.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsInternalDomainsItemsPartialUpdate_404_response'
          description: |2-

            - 'id' value must contain existing named list identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Patch Internal Domains.
      tags:
      - internal_domain_lists
      x-codegen-request-body-name: body
  /named_lists:
    delete:
      description: |
        Use this method to delete Named List objects. Deletion of multiple lists is an all-or-nothing operation (if any of the specified lists can not be deleted then none of the specified lists will be deleted).

        The Named List object represents several types of lists allowed for BloxOne Cloud such as predefined threat intelligence feeds that your subscription offers (Threat Insight, Fast Flux, DGA, DNSM). In addition to the predefined threat intelligence feeds that your subscription offers, you can create custom lists (containing domains and IP addresses) to define whitelists and blacklists for additional protection. You can use a custom list to complement existing feeds or override the Block, Allow, Log, or Redirect action that is currently defined for an existing feed. Note that lists representing predefined TI feeds cannot be created, updated and deleted.

        Required:
        - ids
      operationId: named_listsDeleteNamedLists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwNamedListsDeleteRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsDeleteNamedLists_400_response'
          description: |2-

            - 'ids' value must be non-empty
            - 'ids' value must contain unique elements
            - 'ids' value must contain values that are greater than or equal to zero
            - named lists assigned to a security policy cannot be deleted
            - named lists of type 'dnsm', 'threat_insight', 'fast_flux', 'dga', 'threat_insight_nde', 'default_allow' and 'default_block' cannot be removed
            - named lists assigned to a bypass code cannot be deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsDeleteNamedLists_404_response'
          description: |2-

            - 'ids' value must contain existing named list identifiers
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Named Lists.
      tags:
      - named_lists
      x-codegen-request-body-name: body
    get:
      description: |+
        Use this method to retrieve information on all Named List objects for the account. Note that list items are not returned for this operation.

        The Named List object represents several types of lists allowed for BloxOne Cloud such as predefined threat intelligence feeds that your subscription offers (Threat Insight, Fast Flux, DGA, DNSM). In addition to the predefined threat intelligence feeds that your subscription offers, you can create custom lists (containing domains and IP addresses) to define whitelists and blacklists for additional protection. You can use a custom list to complement existing feeds or override the Block, Allow, Log, or Redirect action that is currently defined for an existing feed. Note that lists representing predefined TI feeds cannot be created, updated and deleted.


      operationId: named_listsListNamedLists
      parameters:
      - description: |
          A collection of response resources can be filtered by a logical expression string that includes JSON tag references to values in each resource, literal values, and logical operators. If a resource does not have the specified tag, its value is assumed to be null.

          Literal values include numbers (integer and floating-point), and quoted (both single- or double-quoted) literal strings, and 'null'.

          You can filter by following fields:

          | Name               | type   | Supported Ops    |
          | ------------------ | ------ | ---------------- |
          | type               | string | ==, !=           |
          | items              | string | ~, !~            |
          | items_described    | string | ==               |

          Grouping operators (and, or, not, ()) are not supported between different fields.
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: Filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      - description: Sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListReadMultiResponse'
          description: GET operation response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: List Named Lists.
      tags:
      - named_lists
    patch:
      description: |-
        Multiple Named Lists in a single operation.
        Use this method to insert items for multiple Named List objects. Note that duplicated items correspondig to named list are silently skipped and only new items are appended to the named list. Note that DNSM, TI, Fast Flux and DGA lists cannot be updated. Only named lists of Custom List type can be updated by this operation.
        If one or more of the list ids is invalid, or the list is of invalid type then the entire operation will be failed.
        The Custom List Items represent the list of the FQDN or IPv4 addresses to define whitelists and blacklists for additional protection.
      operationId: named_listsMultiListUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwMultiListUpdate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwMultiListUpdateResponse'
          description: PATCH operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_domain_listsInternalDomainsItemsPartialUpdate_400_response'
          description: |2-

            - 'ids' values must be greater than or equal to zero
            - 'inserted_items_described' value must contain either valid domain names or IPv4 or network addresses.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsMultiListUpdate_404_response'
          description: |2-

            - 'ids' values must contain existing named list identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Patch Multiple Named Lists.
      tags:
      - named_lists
      x-codegen-request-body-name: body
    post:
      description: |
        Use this method to create a Named List object.

        The Named List object represents several types of lists allowed for BloxOne Cloud such as predefined threat intelligence feeds that your subscription offers (Threat Insight, Fast Flux, DGA, DNSM). In addition to the predefined threat intelligence feeds that your subscription offers, you can create custom lists (containing domains and IP addresses) to define whitelists and blacklists for additional protection. You can use a custom list to complement existing feeds or override the Block, Allow, Log, or Redirect action that is currently defined for an existing feed. Note that lists representing predefined TI feeds cannot be created, updated and deleted. Also use of the field 'items' is discouraged and instead use of new field 'item_described' is suggested as it is possible to add the description/comments to each item in the custom list using this field. In any case, note that use of both the fields 'items' and 'items_described' is not supported and when one of these field is used they must have some value i.e, it cannot be empty.

        Required:
        - name
        - type
        - items or items_described
      operationId: named_listsCreateNamedList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwNamedList'
        description: The Named List object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListCreateResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersCreateCategoryFilter_400_response'
          description: |2-

            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - 'items' value must contain valid IPv4 or IPv6 addresses or domain names
            - named list of type "dnsm", "threat_insight", "fast_flux", "dga", "threat_insight_nde", "default_allow", "default_block", "threat_insight_nde" cannot be created
            - Either 'items' or 'items_described' field is required
            - 'item' cannot be empty in field items_described
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsCreateNamedList_409_response'
          description: |2-

            - 'name' value must be unique among named lists belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Create Named List.
      tags:
      - named_lists
      x-codegen-request-body-name: body
  /named_lists/{id}:
    delete:
      description: |
        Use this method to delete Named List object by given Named List object identifier.

        The Named List object represents several types of lists allowed for BloxOne Cloud such as predefined threat intelligence feeds that your subscription offers (Threat Insight, Fast Flux, DGA, DNSM). In addition to the predefined threat intelligence feeds that your subscription offers, you can create custom lists (containing domains and IP addresses) to define whitelists and blacklists for additional protection. You can use a custom list to complement existing feeds or override the Block, Allow, Log, or Redirect action that is currently defined for an existing feed. Note that lists representing predefined TI feeds cannot be created, updated and deleted.
      operationId: named_listsDeleteSingleNamedLists
      parameters:
      - description: The Named List object identifiers.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_filtersDeleteSingleApplicationFilters_400_response'
          description: |2-

            - 'id' value must contain values that are greater than or equal to zero
            - named lists assigned to a security policy cannot be deleted
            - named lists assigned to a bypass code cannot be deleted
            - named lists of type 'dnsm', 'threat_insight', 'fast_flux', 'dga', 'threat_insight_nde', 'default_allow', and 'default_block' cannot be removed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsDeleteSingleNamedLists_404_response'
          description: |2-

            - 'id' value must contain existing named list identifiers
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Named Lists.
      tags:
      - named_lists
    get:
      description: |
        Use this method to retrieve information on the specified Named List object. Note that returned data includes list items.

        The Named List object represents several types of lists allowed for BloxOne Cloud such as predefined threat intelligence feeds that your subscription offers (Threat Insight, Fast Flux, DGA, DNSM). In addition to the predefined threat intelligence feeds that your subscription offers, you can create custom lists (containing domains and IP addresses) to define whitelists and blacklists for additional protection. You can use a custom list to complement existing feeds or override the Block, Allow, Log, or Redirect action that is currently defined for an existing feed. Note that lists representing predefined TI feeds cannot be created, updated and deleted.
      operationId: named_listsReadNamedList
      parameters:
      - description: The Named List identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: |-
          The name of the named list.
          Can be used in pair with 'type' (both fields are mandatory) to request
          the object by their name. This aproach available only if the field 'id'
          is empty (==0).
        in: query
        name: name
        schema:
          type: string
      - description: The type of the named list. See 'NamedList' for more details.
        in: query
        name: type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListReadResponse'
          description: GET operation response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsMultiListUpdate_404_response'
          description: |2-

            - 'id' value must contain existing named list identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Read Named List.
      tags:
      - named_lists
    patch:
      description: |
        Use this method to update the Severity for a specified named list, which must be of TI list type.

        The severity levels (threat_level and confidence_level) can only be patched for a given id of a TI List.
        This patch request only accepts threat_level and confidence level as the attributes. At least one of these two attributes must be present in the request. If only one of the two attributes is present, only that attribute is set to the specified value for the specified list and other attribute will be at the present value.
        This operation is currently applicable only for the TI Lists.

        Required:
        - id
        - threat_level or confidence_level
      operationId: named_listsUpdateNamedListPartial
      parameters:
      - description: The Named List object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwListSeverityLevels'
        description: The Named List object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListUpdateResponse'
          description: PATCH operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsUpdateNamedListPartial_400_response'
          description: |2

            - Either 'threat_level' or 'confidence_level' field is required
            - Operation not supported for type 'custom_list'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsUpdateNamedListPartial_404_response'
          description: |2-

            - 'id' value must contain existing named list identifier
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsUpdateNamedListPartial_405_response'
          description: |2-

            - Only PATCH operation supported for the existing TI Lists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Patch TI List.
      tags:
      - named_lists
      x-codegen-request-body-name: body
    put:
      description: |
        Use this method to update the specified Named List object. Note that list type cannot be updated.

        The Named List object represents several types of lists allowed for BloxOne Cloud such as predefined threat intelligence feeds that your subscription offers (Threat Insight, Fast Flux, DGA, DNSM). In addition to the predefined threat intelligence feeds that your subscription offers, you can create custom lists (containing domains and IP addresses) to define whitelists and blacklists for additional protection. You can use a custom list to complement existing feeds or override the Block, Allow, Log, or Redirect action that is currently defined for an existing feed. Note that lists representing predefined TI feeds cannot be created, updated and deleted. Also use of the field 'items' is discouraged and instead use of new field 'item_described' is suggested as it is possible to add the description/comments to each item in the custom list using this field. In any case, note that use of both the fields 'items' and 'items_described' is not supported and when one of these field is used they must have some value i.e, it cannot be empty.

        Required:
        - name
        - items or items_described
      operationId: named_listsUpdateNamedList
      parameters:
      - description: The Named List object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwNamedList'
        description: The Named List object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListUpdateResponse'
          description: PUT operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category_filtersCreateCategoryFilter_400_response'
          description: |2-

            - 'name' length cannot exceed 256 characters limit
            - 'description' length cannot exceed 256 characters limit
            - 'items' value must contain valid IPv4 addresses or domain names
            - named list of type "dnsm", "threat_insight", "fast_flux", "dga" and "threat_insight_nde" cannot be created
            - list type cannot be updated
            - Either 'items' or 'items_described' field is required
            - 'item' cannot be empty in field items_described
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsMultiListUpdate_404_response'
          description: |2-

            - 'id' value must contain existing named list identifier
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsCreateNamedList_409_response'
          description: |2-

            - 'name' value must be unique among named lists belonging to the same account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Update Named List.
      tags:
      - named_lists
      x-codegen-request-body-name: body
  /named_lists/{id}/items:
    delete:
      description: |
        Use this method to remove items from a specified Named List object. Note that duplicated items are silently skipped and only new items are appended to the named list. Note that DNSM, TI, Fast Flux and DGA lists cannot be updated. Only Custom List items can be deleted.

        The Custom List Items represent the list of the FQDN or IPv4 or IPv6 addresses to define whitelists and blacklists for additional protection.

        Required:
        - items
      operationId: named_list_itemsDeleteNamedListItems
      parameters:
      - description: The Named List object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwNamedListItemsDeleteRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_list_itemsDeleteNamedListItems_400_response'
          description: |2-

            - 'id' value must be greater than or equal to zero
            - 'items' value must contain either valid domain names or IPv4 or IPv6 or network addresses.
            - 'items' value must contain existing values for a specified named list
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsMultiListUpdate_404_response'
          description: |2-

            - 'id' value must contain existing custom list identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Delete Named List Items.
      tags:
      - named_list_items
      x-codegen-request-body-name: body
    patch:
      description: |
        Use this method to insert ot delete items  for a specified Named List object. Note that duplicated items are silently skipped and only new items are appended to the named list. Note that DNSM, TI, Fast Flux and DGA lists cannot be updated. Only Custom List items can be updated.

        The Custom List Items represent the list of the FQDN or IPv4 addresses to define whitelists and blacklists for additional protection.
      operationId: named_list_itemsNamedListItemsPartialUpdate
      parameters:
      - description: The Named List object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwNamedListItemsPartialUpdate'
        description: NamedListItemsPartialUpdate object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListItemsPartialUpdateResponse'
          description: PATCH operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_list_itemsNamedListItemsPartialUpdate_400_response'
          description: |2-

            - 'id' value must be greater than or equal to zero
            - 'items' value must contain either valid domain names or IPv4 or network addresses.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsMultiListUpdate_404_response'
          description: |2-

            - 'id' value must contain existing named list identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Partial Update Named List Items.
      tags:
      - named_list_items
      x-codegen-request-body-name: body
    post:
      description: |
        Use this method to update existing items with new ones for a specified Named List object. Note that duplicated items are silently skipped and only new items are appended to the named list. Note that DNSM, TI, Fast Flux and DGA lists cannot be updated. Only Custom List items can be updated.

        The Custom List Items represent the list of the FQDN or IPv4 addresses to define whitelists and blacklists for additional protection.
      operationId: named_list_itemsInsertOrReplaceNamedListItems
      parameters:
      - description: The Named List object identifier.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atcfwNamedListItemsInsertOrUpdate'
        description: NamedListItemsInsertOrUpdate object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atcfwNamedListItemsInsertOrUpdateResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_list_itemsInsertOrReplaceNamedListItems_400_response'
          description: |2-

            - 'id' value must be greater than or equal to zero
            - 'items' value must contain either valid domain names or IPv4 or IPv6 or network addresses.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/named_listsMultiListUpdate_404_response'
          description: |2-

            - 'id' value must contain existing named list identifier
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_codesListAccessCodes_500_response'
          description: |2-

            - Internal server error occurred
      summary: Insert Named List Items.
      tags:
      - named_list_items
      x-codegen-request-body-name: body
  /named_lists_download:
    get:
[...]
