name: tests
on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    paths-ignore:
      - "README.md"
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22.x, 1.25.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4.1.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4.1.1

      - name: Get dependencies
        run: go mod download

      - name: go fmt
        run: |
          go fmt ./...
          git diff --exit-code || \
            (echo; echo "Unexpected difference. Run 'go fmt' command and commit."; exit 1)

      - name: Run unit tests
        run: go test -v -coverprofile=coverage.out ./...
